
/******************************************************************
 FORMS
******************************************************************/

// form {
//     background: $base8;
//     padding: 20px;
//     @include media(sm) {padding: 40px;}
//     p {
//         margin-bottom: .25em; // since Wordpress wraps everything in paragraph tags
//     }
// }

fieldset {
    border: 0;
	padding: 0;
}

textarea,
input[type="text"],
input[type="password"],
input[type='email'] {
    padding: 5px;
}

input[type='submit'] {
    @include transition(all 0.2s ease-in-out);
    text-transform: uppercase;
        letter-spacing: $caps-spacing;
    -webkit-appearance: button;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: $base2;
    color: $white;
    line-height: 1.2;
    white-space: inherit;
    margin: 0;
    padding: .6em 2em;
    &:hover {
        background: $white;
        color: $base2;
    }
}

/******************************************************************
 SEARCH FORM
******************************************************************/

.search-form {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $base8;
    @include media(md) {display: inline-block; width: auto; float: right; background: transparent;}
}

// body gets .js class on load
.js .search-form {
	overflow: hidden;
	max-height: 0;
    @include transition(max-height 0.2s ease-in-out);
    &.active {
    	max-height: 50px;
    }
    @include media(md) {max-height: none;}
}

#searchform {
    background: transparent;
    margin: 5px;
    padding: 0;
    @include media(md) {padding-top: 10px;}
    label {
      display: none;
    }
}

#s {
    line-height: 1;
    width: 270px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    margin: 0;
    vertical-align: top;
    @include media(md) {
      width: 140px;
      height: 24px;
      line-height: 24px;
      padding: 2px 5px;
    }
}
#searchsubmit {
//  @include font-icon-base($family:"ios7-icon");
//  @extend %ios7-search;
//  @include font-size(20);
    font-weight: normal;
    line-height: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: -4px;
    vertical-align: top;
    background: $base3;
    border: 1px solid $base3;
    border-radius: 0;
    @include media(md) {
      height: 24px;
      width: 24px;
      line-height: 24px;
    }
    &:hover {
        background: $white;
        border-color: $base6;
    }
}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	padding-bottom: 2.2em;
	form {
		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;
			label,
			small {
				display: none;
			}
		}
		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 4px 8px;
			background: $white;
			border: 1px solid $base6;
			&:focus {
				border-color: $blue;
			}
			&:invalid {
				outline: none;
				border-color: $red;
				background-color: $base0;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

/* comment submit button */
#submit {}

/* comment form title */
#comment-form-title {
	margin: 1.5em 0 .5em;
}

/* cancel comment reply link */
#cancel-comment-reply {
	a {}
}

/* logged in comments */
.comments-logged-in-as {
    line-height: 1;
}

/* allowed tags */
#allowed_tags {
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}

// all the input fields
#comment-form-elements {
    margin: 0;
}

// the wrapper paragraph for the textarea
#comment-form-elements + p {
    margin: 0 0 30px;
}



///////////////////////////
// Contact form?
//
//.page-civicrm,
//.page-request-screening,
//.page-contact {
//  .crm-submit-buttons br {
//    display: none;
//  }
//  .crm-button_qf_Edit_next,
//  .crm-button_qf_Edit_cancel {
//    float: left;
//    margin-right: .5em;
//    input {
//      @extend %button;
//      border: none;
//      outline: none;
//      border-radius: 0;
//      font-weight: normal;
//      font-family: $body;
//    }
//  }
//  .label {
//    margin-top: 1em;
//    // background-color: none;
//    // background-color: rgba( $c-highlight, .125 );
//    background-color: black;
//    padding: .5em .5em 0 .5em;
//    p {
//      margin: 0;
//      padding: 0;
//    }
//    br {
//      display: none;
//    }
//    .crm-marker {
//      color: $c-required;
//    }
//  }
//  #editrow-first_name,
//  #editrow-last_name,
//  #editrow-email-Primary,
//  #editrow-phone-7-1,
//  #editrow-custom_133,
//  #editrow-custom_132,
//  #editrow-custom_131,
//  #editrow-custom_130,
//  #editrow-custom_128,
//  #editrow-custom_129,
//  #editrow-custom_125,
//  #editrow-custom_124 {
//    @extend %clearfix;
//    .label,
//    .edit-value {
//      min-width: 12em;
//      background: #000;
//      display: inline-block;
//      padding: .75em;
//    }
//  }
//  // text fields
//  #editrow-first_name,
//  #editrow-last_name,
//  #editrow-email-Primary,
//  #editrow-phone-7-1,
//  #editrow-custom_133,
//  #editrow-custom_132,
//  #editrow-custom_131,
//  #editrow-custom_130,
//  #editrow-custom_124 {
//    .edit-value {
//        padding: .5em;
//        input {
//          padding:2px;
//        }
//    }
//  }
//
//    @include media(max-width $tablet-v-breakpoint) {
//    #editrow-first_name,
//    #editrow-last_name,
//    #editrow-email-Primary,
//    #editrow-phone-7-1,
//    #editrow-custom_133,
//    #editrow-custom_132,
//    #editrow-custom_131,
//    #editrow-custom_130,
//    #editrow-custom_129,
//    #editrow-custom_128,
//    #editrow-custom_125,
//    #editrow-custom_124 {
//      .label,
//      .edit-value,
//      .edit-value input {
//        width: 100%;
//      }
//
//    }
//  }
//  // selects
//  #helprow-custom_125,
//  #helprow-custom_124 {
//    padding: .5em;
//  }
//  // checkboxes
//  #editrow-custom_123 {
//    vertical-align: top;
//    &>.label{
//      margin-bottom: .5em;
//    }
//    .checkboxinput {
//      input {
//        margin-right: .25em;
//      }
//      // fuck wordpress sometimes, seriously
//      br {
//        display: none;
//      }
//      display: inline-block;
//      margin-right: .5em;
//      margin-bottom: .5em;
//      background: #fff;
//      padding: .25em .5em;
//      color: #000;
//      border-radius: .25em;
//    }
//  }
//}

// Datepicker
///////////////////////////

//#ui-datepicker-div {
//  background: #000;
//  padding: .25em;
//  .ui-datepicker-next {
//    float: right;
//  }
//}
//
//#editrow-custom_126 {
//  width: 275px;
//  .crm-clear-link {
//    display: block;
//    color: #fc0;
//    background-color: #fc0;
//    float: right;
//    font-size: 0px;
//    a {
//      @extend %button;
//      font-size:13px;
//      display: block;
//      text-indent: 0;
//      overflow:visible;
//      color: #000;
//      background-color: #fc0;
//      margin: 0;
//      &:hover {
//        background-color: #000;
//        color: #fc0;
//      }
//    }
//  }
//
//}

// Civi Form Snippets
// Only apply to Civi snippets in the main content area to avoid messing up form in footer widget - PEA 6/4/2015
#content {
  
  .crm-container-snippet {
    .crm-section {

      .label,
      .edit-value {
        display: inline-block;
        padding: .25em;
        margin: .5em 0;
        height: 60px;
        line-height: 60px;
        background: $black;
      }
      .label {
        padding-left: 1em;
      }
      .edit-value {
        padding-right: 1em;
      }

      input[type="radio"],
      input[type="checkbox"] {
        margin: 0 .5em 0 .25em;
      }

    }

      input[type="submit"]{
        @extend %button;
        display: inline-block;
        border-radius: 0;
      }

    .crm-clear-link {
      height: 30px;
    }
  }

  //Date-picker 
  .ui-datepicker-calendar {
    background: $black;
    padding: .25em;
    td {
      padding: .1em .25em;
    }
  }

}