
//LISTS


// HOME PAGE POSTS


.home .module-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.home .post-excerpt {
    line-height: 1.5;
}

.news,
.events,
.sites {
  .module-heading {
    @extend p;
    text-transform: uppercase;
    letter-spacing: $caps-spacing;
  }
}


// HIGHLIGHTED CATEGORY PROMO

.highlights .module-heading {
  color: $white;
  background: $base7 url('http://dev.sites.nycprepared.org/wp-content/uploads/2014/01/CarolinaKroon7.png') no-repeat center center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 0;
  height: 150px;
  overflow: hidden;
	@include media(sm) {
    @include span-columns(8);
    height: 300px;
  }
}

.highlights-list {
  background: $white;
  height: 300px;
  overflow-y: scroll;
  margin: 0;
	@include media(sm) {
    @include span-columns(8);
  }

  li {
    border-bottom: 1px solid $base8;
    padding: 10px;
    margin-bottom: 0;
    @include media(sm) {
      padding: 10px 20px;
    }
  }
  .post-title {
      margin: .25em 0 0;
      @extend h4;
  }
  .post-excerpt {
      margin: .25em 0 .5em;
  }
  .location {
    text-transform: uppercase;
    letter-spacing: $caps-spacing;
    @extend small;
    color: $quiet-color;
    white-space: nowrap;
    margin-left: 3px;
  }
  .meta {
      display: none;
  }
}


// NEWS PROMO

.news-list {
    li {
      background: $white;
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px;
      height: 300px;
      overflow: hidden;
    	@include media(sm) {
        @include span-columns(8);
        padding: 10px 20px;
      }
    }
    .post-title {
        margin: .25em 0 0;
    }
    .post-excerpt {
        margin:  .25em 0 .5em;
    }
    .post-date {
      text-transform: uppercase;
      letter-spacing: $caps-spacing;
      @extend small;
      color: $quiet-color;
      white-space: nowrap;
      margin-left: 3px;
    }
}


// NEWS FEED

.news-feed {
    article {
      border-top: 1px solid $base7;
      padding-top: 20px;
      @include fill-parent;
      clear: both;
    }
    .post-header,
    .post-footer {
        text-transform: uppercase;
        letter-spacing: $caps-spacing;
    	@include media(md) {@include span-columns(2 of 12);}
    	h6, p, li {
        	@extend small;
        	color: $base5;
        	display: inline-block;
        	&:after {
            	content: ' / ';
            	letter-spacing: 5px;
        	}
            @include media(md) {display: block; &:after {content: none;}}
    	}
    	a, a:visited {
        	color: $base5;
        	&:hover {
            	color: $text-color;
        	}
    	}
    }
    .post-body {
        padding-bottom: 10px;
    	@include media(md) {@include span-columns(8 of 12);}
    	p {
        	margin: .25em 0 .75em;
    	}
    }
    .post-title {
        margin: 0;
    }
}


// SITES PROMO

.sites-list {
    clear: both;
    padding: 0;
    @include fill-parent;
    li {
        background: $white;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
        height: 240px;
        overflow: hidden;
    	@include media(xs) {@include span-columns(8);}
    	@include media(md) {@include span-columns(4);}
    }
    .site-image {
        width: 100%;
        height: auto;
        min-height: 180px;
        background: $base7;
        display: block;
    }
    .site-title {
        text-transform: uppercase;
        letter-spacing: $caps-spacing;
        margin: 0;
        padding: 5px 10px 0;
        font-size: $h1;
    }
    .site-meta {
        margin: 0;
        padding: 0 10px 10px;
        font-size: $h3;
        color: $quiet-color;
    }
}

#site-promo {
    background: $yellow;
    padding: 20px;
    .post-title {
        color: $white;
        margin: 0;
    }
    .promo-icons {
        padding: 10px 0;
        color: $white;
        white-space: nowrap;
        i {
            // @include font-icon-base($family:"ios7-icon");
            // @extend %ios7-store;
            font-size: $body;
            line-height: 1;
        }
    }
    .button {
        background: $base1;
        background: rgba(0,0,0,.3);
        &:hover {
            background: $white;
            color: $orange;
        }
    }
}

//Partner page - PEA 5/18/2015
.page-partners-funders {
	section.funders {}
	article.partners {
		text-align: center;
		@extend %three-col;
		
		@media (max-width: $tablet-v-breakpoint) {
			width: 100%;
		}
				
	}
	.post-thumbnail {
		background-color: $white;
		padding: .5em;
		float: none;
		display: block;
		resize: both;
		img {
			max-height: 130px;
			max-width: 100%;
			height: auto;
		}
	}
}
