nav li {
  a {
    width: 100%;
    height: 100%;
    display: block;
    color: $c-nav-text;
    letter-spacing: .05em;
    &:hover {
      color: $c-nav-hover;
    }
  }
}
nav#main-nav {
  margin: 0 auto;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #000;
  background-color: $c-nav-bg;
  width: 100%;
  text-align: center;
  height: 2.75em;
  &>ul {
    @include outer-container;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 100%;
  }
  li {
    width: 108px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    line-height: 1;
    float: left;
    // Reduced left margin to account for additional nav item - PEA 2/5/2015
    margin-left: 0;
    @include media($tablet-h-breakpoint){
      // Reduced left margin to account for additional nav item - PEA 2/5/2015
      margin-left: 38px;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      padding: .5em .25em;
      color: $c-nav-text;
    }
    a:hover,
    &.current_page_ancestor a,
    &.current-menu-item a {
      color: $c-nav-hover;
      background-color: $c-nav-hover-bg;
    }
    &.about a {
      padding-left: 0;
    }
    &.press a {
      padding-right: 0;
    }
    &.watch-the-trailer {
      position: relative;
      a {
        position: relative;
        z-index:2;
        &:hover {
          background: none;
        }
        &:before {
          content: "";
          position: absolute;
          background-image: url(../images/nav-starburst.png);
          background-repeat: none;
          background-position: top left;
          width: 169px;
          height: 84px;
          top: -10px;
          left: -30px;
          z-index: -1;
        }
        &.active:before,
        &:hover:before {
          background-position: bottom left;
        }
      }
    }
    // Added left margin to prevent starburst nav item from overlapping - PEA 2/5/2015
    &.screenings-events {
        margin-left: 30px;
    }
  }
}

#sub-nav {
  @include outer-container;
  margin-top: 2em;
  border-bottom: 2px white solid;
  padding-left: 2em;
  padding-right: 2em;
  z-index: $content-z;
  position: relative;
  #submenu li {
    display: block;
    float: none;
    a {
      display: block;
      padding: .5em;
    }
    &.current-menu-item a,
    a:hover {
      background: white;
      color: #000;
    }
  }
  @include media(min-width $tablet-v-breakpoint){
    padding-left: 1em;
    padding-right: 1em;
    #submenu li {
      margin-left: 1em;
      float: left;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  @include media($desktop-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}
