////////////////////////
// WP Posts and Content
//
.page-title,
.archive-title,
.section-title {
  text-transform: uppercase;
  letter-spacing: $caps-spacing;
  @extend h3;
  line-height: 1.1;
  margin: .25em 0 .75em;
}

.entry-title.single-title {
  margin-bottom: .3em;
}

// post date and author name
.byline {
  margin: 0;
  color: $quiet-color;
  text-transform: uppercase;
  letter-spacing: $caps-spacing;
  a {
    color: $quiet-color;
  }
}

// single blog post
.single-post .entry-content {
    padding-top: 40px;
}


// post content
.post .entry-content {
  h1 {
    margin-bottom: 0;
  }
  h2, h3, h4 {
    margin-top: 1.8em;
  }
	p {
    max-width: 40em;
	}
	ul, ol {
    padding: 0 40px;
	}
	ul {
    list-style: square;
	}
	ol {
    list-style: decimal;
	}
	dl {
    border-top: 1px solid $white;
    padding-top: 1em;
	}
	dt {
    float: left;
	}
	dd {
    margin-left: 375px;
	}
	img {
		margin: 0 0 20px 0;
		max-width: 100%;
		height: auto;
	}
	.alignleft, img.alignleft {float: left; margin-right: 40px; margin-bottom: 20px;}
	.alignright, img.alignright {float: right; margin-left: 40px; margin-bottom: 20px;}
	video, object {
		max-width: 100%;
		height: auto;
	}
} // end .entry-content


