// For mobile nav…

.slicknav_menu {
  display: none;
}

@include media(max-width $tablet-v-breakpoint){

  #main-nav {
    display: none;
  }

  // ////////////////////
  // SlickNav
  //
  .slicknav_btn { position: relative; display: block; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
  .slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
  .slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; }
  .slicknav_menu .slicknav_no-text { margin: 0 }
  .slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
  .slicknav_nav { clear: both }
  .slicknav_nav ul,
  .slicknav_nav li { display: block }
  .slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item { cursor: pointer; }
  .slicknav_nav .slicknav_row { display: block; }
  .slicknav_nav a { display: block }
  .slicknav_nav .slicknav_item a,
  .slicknav_nav .slicknav_parent-link a { display: inline }
  .slicknav_menu:before,
  .slicknav_menu:after { content: " "; display: table; }
  .slicknav_menu:after { clear: both }
  /* IE6/7 support */
  .slicknav_menu { *zoom: 1 }

  /*
      User Default Style
      Change the following styles to modify the appearance of the menu.
  */

  .slicknav_menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: $responsivenav-z;
    font-size:16px;
    width: 100%;
    background: #121212;
    .slicknav_btn {
      z-index: 5;
    }
    .slicknav_nav {
      z-index: 2;
      width: 100%;
      background: rgba( black,.65);
      li {
        padding: .5em 0;
        border-bottom: 1px #2a2a2a solid;
        a {
          display: block;
          padding:0 0 0 2em;
        }
      }
    }
  }

  /* Button */
  .slicknav_btn {
      margin: 5px 5px 6px;
      text-decoration:none;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: #222222;
  }

  .slicknav_menu .slicknav_icon-bar {
    background-color: #f5f5f5;
  }

  .slicknav_menu {
    background-color: #222;
    background-color: rgba( #222, .85 );
  }

  .slicknav_nav {
    color:#fff;
    margin:0;
  }

  .slicknav_nav {
    list-style: none;
    overflow:hidden;
  }
  // .slicknav_nav ul {
  //   padding:0;
  //   margin:0 0 0 20px;
  // }

  .slicknav_nav .slicknav_item a,
  .slicknav_nav .slicknav_parent-link a {
      padding:0;
      margin:0;
  }

  .slicknav_nav .slicknav_txtnode {
       margin-left:15px;
  }

}
