#toolTip {
  position: absolute;
  display: none;
  z-index: $tooltip-z;
  top: 0;
  left: 0;
  color: white;
}

#toolTipMessage {
  position: relative;
  left: -50%;
  top: -50%;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
}

#toolTipIndicator {
  width: 1px;
  left: 0;
  top: 0;
  border-left: 2px #f00 solid;
  position: absolute;
  display: none;
  z-index: $tooltip-z;
}
