html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $c-site-background;
}

html {
  height: 100%;
}

body {
  &.home {
    height: 100%;
  }
}

%two-col {
  @include span-columns(6);
  @include omega(2n);
}

%three-col{
  @include span-columns(4);
  @include omega(3n);
}

//////////////////////////////
// Homepage
//

#foreground {
  position: absolute;
  z-index: $figures-z;
  height: 851px;
  width: 1173px;
  bottom: 0px;
  left: 0;
  img {
    display:block;
    width: 100%;
  }
}

#figures {
  position: absolute;
  bottom: 0;
  left: 0;
}


//////////////////////////////
// Content Pages
//

.page main {
  @include outer-container;
  box-sizing: border-box;
  z-index: $content-z;
  padding-top: 3em;
  padding-bottom: 3em;

}

.home main {
  margin: 0;
  position: fixed;
  z-index: $content-z;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  max-width: none;
  overflow: hidden;
}

main {
  padding-left: 2em;
  padding-right: 2em;

  .page-press-media & .image-gallery,
  .page-images-videos & .image-gallery {
    &>article {
      width: 100%;
      height: auto;
      overflow: hidden;
      //background: #fafafa;
      margin-bottom: 1em;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .post-thumbnail {
    float: left;
    margin: 0 .5em .5em 0;
  }

  .post-list.secret-content {
    .article {
      clear:left;
    }
  }

  @include media($phone-breakpoint) {
    .page-press-media & .image-gallery,
    .page-images-videos & .image-gallery {
      //@include omega();
      @extend %clearfix;
      margin-bottom: 2em;
      &>article {
        //@extend %three-col;
        //Switched to Bourbon Neat columns - PEA 6/4/2015
        @include span-columns(4);
        @include omega(3n);
        width: 30%;
        height: auto;
        overflow: hidden;
        //background: #fafafa;
      }
    }
  }

  @include media($tablet-v-breakpoint) {
    padding-left: 1em;
    padding-right: 1em;
    .about>article,
    .characters>article,
    .post-list.press,
//  .post-list.reviews,
    .post-list.secret-content article
    .page-reviews & .post-list.reviews,
    .who-are-the-yes-men article,
    // .page-take-action &>*,
    .post-list.press-coverage>article {
      @extend %two-col;
    }
    // .page-partners-funders &>.partners,
	// Changed to single-column - PEA 5/18/2015
    .page-partners-funders &>.funders {
      @include span-columns(12);
    }
    .post-list.media>article {
      @extend %three-col;
    }
    .page-press-media & .image-gallery,
    .page-images-videos & .image-gallery {
     // @include omega();
      @extend %clearfix;
      margin-bottom: 2em;
      &>article {
        //@extend %three-col;
        //Switched to Bourbon Neat columns - PEA 6/4/2015
        @include span-columns(4);
        @include omega(3n);
        // width: 345px;
        // height: 215px;
        // overflow: hidden;
        // background: #fafafa;
      }
    }
    // press kit and trailer
    .page-press-media & .image-gallery+article {
      @extend %clearfix;
    }
    .page-images-videos & {
      .post-thumbnail {
        float: none;
        clear: both;
        margin: 0;
      }
      img {
        display: block;
      }
      .post-meta {
        margin-top: 0;
        a {
          @extend %button;
          margin-top: 0;
          display: inline-block;
        }
      }
    }
    //////////////////////////////
    // hide for launch
    //
    .post-list.press {
      display: none
    }
    .page-press-media & .post-list.reviews {
      @extend %clearfix;
      &>article {
        @include span-columns(6);
        margin-right: .5em;
        min-height: 6em;
        @extend %clearfix;
      }
      &>header {
        margin-top: 2em;
      }
      footer {
        clear: both;
        .more {
          margin-top: 2em;
        }
      }
    }
    p>iframe {
      width: 560px;
      height: 315px;
    }
    // p>iframe {
    //   width: 100%;
    //   height: none;
    // }
    //// end launch hiding

  }
  @include media($desktop-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-take-action {
  .connect {
    margin-bottom: 2em;
  }
  // hide for launch
  & main>.post-list {
    display: none;
  }
}

.drawer {
  @include fill-parent();
  .content {
    height: 100%;
    @include fill-parent();
    overflow: auto;
  }
  .fbf_facebook_page_widget li {
    padding-bottom: 1em;
    border-bottom: 1px #333 solid;
    max-width: 46em;
  }
}

.page-take-action {
  .category-partners {
    // hide for launch:
    display: none;
    // margin-top: 2em;
    // @include media($tablet-v-breakpoint){
    //   & {
    //     margin-top: 0em;
    //   }
    // }
  }
}

.page-take-action .connect,
.page-take-action .partners,
.page-partners-funders .category-partners,
.page-partners-funders .category-funders {
  &>article {
    float: left;
    margin-top: 0;
    margin-right: .5em;
    margin-bottom: .5em;
  }
}

// hide for launch
.page-take-action .partners,
.page-partners-funders .category-partners {
  display: none;
}

/////////////////////
// Trailer
//
#watch-the-trailer {
  // position: relative;
  z-index: $trailer-z;
  opacity: 0;
  position: fixed;
  .home & {
    position: absolute;
    opacity: 1;
  }
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: $c-overlay;
  background-image: url(../images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center center;
  #trailerpage {
    width: 100%;
    height: 100%;
    top: 0;
  }
  @include transition(all 0.325s ease-out);
  &.expanded {
    @include transition(all 0.325s ease-in);
    opacity: 1;
    top: 0;
  }
  .iframe.media {
    width: 450px;
    height: 254px;
    margin: 0 auto;
    @include media($tablet-h-breakpoint){
      width: 560px;
      height: 315px;
    }
    @include media($tablet-h-breakpoint){
      width: 560px;
      height: 315px;
    }
    @include media($desktop-breakpoint){
      width: 930px;
      height: 556px;
    }
    @extend %center-vertical;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .close {
    position: absolute;
    right: 2em;
    top: 5.5em;
    color: #000;
    font-size: 1.25em;
    span {
      @extend .offscreen;
      z-index: 1000;
    }
    &:hover{
      color: black;
    }
    &::before {
      width: 24px;
      height: 24px;
      content:"";
      background-color: white;
      border-radius:12px;
      position: absolute;
      z-index: -1;
      left: -6px;
    }
    &:hover::before{
      background-color: $c-highlight;
    }

  }
}
