// FOOTER

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: $footer-z;
  height: $footer-height;
  @include media($tablet-h-breakpoint){
    .home & {
      background-image: url('../images/scroll-indicator.png');
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
}

#footer {
  max-height: $footer-height;
  height: 100%;
  @include transition(max-height 0.425s ease-in-out);
  .footer-links {
    @include outer-container;
    // @extend %clearfix;
    height: $footer-height;
  }
  .tab,
  #sign-up {
    background-color: black;
    background-color: $c-overlay;
  }
  .tab {
    float: left;
    color: #fff;
    padding: 0;
    margin: 0 .125em 0 0;
    a {
      display: block;
      @include fill-parent();
    }
    .icon {
      @include font-icon-base($family:"entypo-social", $font-size: 2.5em, $width: .5em, $margin: 0, $align: center );
      padding: .25em .5em;
    }
    &.twitter .icon {
      @extend %entypo-social-twitter;
    }
    &.fb .icon {
      @extend %entypo-social-facebook;
    }
    & a:hover {
      color: #000;
      background: #fff;
    }
    // asb tout is not a fonticon
    &.asb a,
    &.asb a:hover {
      width: 46px;
      height: 46px;
      padding: 0;
      margin: 0;
      background-color: #77250e;
      background-image: url(../images/asb-footer-link.png);
      background-repeat: no-repeat;
      background-position: bottom left;
      @include media($phone-breakpoint){
        width: 286px;
        background-position: top left;
      }
    }
    .close {
      display: none;
    }
    &.open {
      .close {
        display: inline;
        margin-right: .5em;
      }
      &.asb.open {
        width: 64px;
        @include media($phone-breakpoint){
          background-position: top left;
          // width: 298px;
        }
        .close {
          float: right;
          line-height: 2.25;
        }
      }
    }
  }
  .drawer {
    @include fill-parent;
    position: absolute;
    left: 0;
    top: $footer-height;
    padding: 2em;
    background-color:#000;
    background-color: $c-overlay;
  }
}

#asb-promo {
  background-color: #77250e;
}

#sign-up {
  height: $footer-height;
  padding: .5em .5em .25em .5em;
  float: right;
  width: 12em;
  input[type=text] {
    float: left;
    width: 9em;
  }
  @include media($phone-breakpoint){
    width: 15em;
    input[type=text] {
      width: 12em;
    }
  }
  @include media($tablet-v-breakpoint){
    width: 22em;
    input[type=text] {
      width: 19em;
      display: block;
    }
  }
}
#footer {
  #_qf_Edit_next {
    border: 0;
    background: 0;
    padding: 0;
    outline: 0;
    &::before {
      content: "˃";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  #_qf_Edit_cancel {
    display: none;
  }
}

