// HEADER

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header-z;
  width: 100%;
  .admin-bar & {
    top: 2em;
  }
}


/////////////////////
// Header
//

#logo {
  margin-top: 0;
  position: relative;
  width: 100%;
  top: 0;
  z-index: $logo-z;
  .home & {
    position: fixed;
  }
  .home.admin-bar & {
    top: 1em;
  }
  a {
    display: block;
    height: 116px;
    width: 237px;
    position: relative;
    top: 59px;
    margin: 0 auto;
    margin-bottom: 93px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    &>span {
      @extend .offscreen;
    }
  }
}

