@import "variables";
@import "functions";
@import "mixins";
@import "extends";
@import "typography";
@import "design";
@import "entyposocial";

a,
a:visited {
  color: $anchor-color;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $anchor-hover;
  }
  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}
