///////////////
// Design
//
// For purely visual styles,
// that don't quite fit elsewhere
// in certain projects design can
// become it's own partials directory.
//

////////////////////
// Backgrounds
//

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  position: relative;
  z-index: $content-z;
  a,
  a:link,
  a:visited {
    color: $c-highlight;
  }
  .page-body p:first-child {
    font-size: 20px;
  }
  p img {
    display: block;
    float: left;
    margin-right: .5em;
    margin-bottom: .5em;
  }
  h2, h3 {
    text-transform: uppercase;
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $background-overlay-z;
  opacity: 0.59;
  //default
  background-color: #000;
}

.page-about,
.page-who-are-the-yes-men,
.page-characters,
.page-partners-funders {
  .background-overlay {
    background-color: #3f3739;
  }
}

.page-screenings-events,
.page-reviews,
.page-press-coverage,
.page-images-videos {
  .background-overlay {
    background-color: #633d00;
  }
}

.page-press-media {
  .background-overlay {
    background-color: #0a464e;
  }
}

.page-take-action {
  .background-overlay {
    background-color: #441407;
  }
}

.page-civicrm,
.page-request-screening,
.page-thanks,
.page-contact {
  .background-overlay {
    background-color: #000;
  }
}

.page-secretcontent {
  background-image: url(../images/backgrounds/secret.jpg);
}

.more {
  @extend %button;
  line-height:1.5;
  &.press-kit {
    @include span-columns(6);
    margin-right: 1em;
  }
  &.trailer {
    @include span-columns(6);
    margin-right: 1em;
  }
}

