%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%is-hidden {
  display: none;
}

.offscreen {
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 0;
  height: 0;
  overflow: hidden;
}

%fullwidth {
  width: 100%;
}

%center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

%button {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  color: black !important;
  background-color: $c-highlight !important;
  text-transform: uppercase;
  &:hover {
    color: $c-highlight;
    background-color: black;
  }
  &:visited {
    color: black;
  }
}
