///////////////////////////////////////////////////////
// Site Name: The Yes Men are Revolting
// Author: Thiago de Mello Bueno <thiago@glocal.coop>
//
// Stylesheet: Mixins Stylesheet
//

@mixin font-face($font-family, $font-id, $file-path, $weight: normal, $style: normal ) {
  @font-face {
      font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-id}') format('svg');
      font-weight: $weight;
      font-style: $style;
      font-stretch: none;
  }
}

/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

// MIXINS
// read the Bourbon docs for all kinds of well-tested mixins
// check there before adding new ones
// http://bourbon.io/docs/


// RWD BREAKPOINTS
// mobile first! so you only have to use floats etc in larger sizes
// set breakpoints where your content breaks, not particular devices

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 321px)  { @content; }
  }
  @if $point == sm {
    @media (min-width: 481px) { @content; }
  }
  @if $point == md {
    @media (min-width: 769px) { @content; }
  }
  @if $point == lg {
    @media (min-width: 1025px) { @content; }
  }
  @else if $point == xl {
    @media (min-width: 1200px) { @content; }
  }
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/

@mixin font-icon-base($family:"entypo", $font-size: 1em, $width: 1em, $margin: 0.2em, $align: left, $valign: middle, $color: inherit, $line-height: 1) {
  @if $family == "entypo-social" {
    $family:"entypo-social";
    $file:"entypo-social";
  }
  @else if $family == "entypo" {
    $family:"entypo";
    $file:"entypo";
  }
  &:before {
    font-family: "#{$family}";
    font-style: normal;
    font-size: $font-size;
    line-height: $line-height;
    margin-right: $margin;
    text-align: $align;
    display: inline-block;
    width: $width;
    color: $color;
    vertical-align: $valign;
  }
}


// /*********************
// CUSTOM
// *********************/

// @mixin header-style ($family: $header-font-family, $size: $h2-font-size, $transform: uppercase, $color: $text-color-prominent, $weight: normal) {
//   font-size: $size;
//   font-family: $family;
//   color: $color;
//   text-transform: $transform;
//   font-weight: $weight;
// }

// @mixin body-text ($family: $font-body, $size: $base-font-size, $line-height: $base-line-height + 2, $color: $text-color, $weight: normal, $transform: none ) {
//   font-size: $size;
//   font-family: $family;
//   color: $color;
//   font-weight: $weight;
//   line-height: $line-height;
//   text-transform: $transform;
// }

// @mixin standard-border($color: $rules-color, $width: 1px, $style: solid) {
//   color: $color;
//   width: $width;
//   style: $style;
// }

// @mixin standard-links ($color: $accent, $vcolor: darken($accent,10%), $hcolor: $brand, $weight: normal, $text-decoration: none, $text-transform: none, $border: none) {
//   a,
//   a:link {
//     border: $border;
//     color: $color;
//     font-weight: $weight;
//     text-decoration: $text-decoration;
//   }
//   a:visited {
//     border: $border;
//     color: $vcolor;
//     text-decoration: $text-decoration;
//   }
//   a:hover {
//     border: $border;
//     color: $hcolor;
//     text-decoration: $text-decoration;
//   }
// }





