/////////////////////////////////////////////////////////////
// Site Name: The Yes Men are Revolting
// Author: Thiago de Mello Bueno <thiago@glocal.coop>
// Stylesheet: Typography
//

@include font-face( hammersmith_oneregular, hammersmith_oneregular, "../fonts/hammersmithone-webfont", normal, normal );
@include font-face( entypo-social, 'entypo-social', "../fonts/entypo-social", normal, normal );

// font stacks
$body: hammersmith_oneregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
$display: $body;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
      word-break: break-word;
     word-break: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

body {
  font-family: $body;
  font-size: 16px;
  line-height: 1.3;
  color: white;
}

#main-nav {
  font-size: 1rem;
  text-transform: uppercase;
}

#sub-nav li {
  font-size: 20px;
}
