//////////////
// COLORS
//

// COLORS

$navy: #247cc9;
$blue: #29abe2;
$teal: #00a99d;
$green: #22b573;
$lime: #8cc63f;
$yellow: #fbb03b;
$orange: #ff931e;
$red: #BD2132;

$black: #000;
$white: #fff;

// shades of gray
$base1: #1a1919;
$base2: #333231;
$base3: #4d4c4a;
$base4: #757472;
$base5: #999894;
$base6: #b8b6b2;
$base7: #d1cfcb;
$base8: #e6e4df;
$base9: #f5f3ed;
$base0: #fffdf7;

// colors
//  nav
$c-nav-bg: rgba( $base1, .5 );
$c-nav-text: white;
$c-nav-hover: black;
$c-nav-hover-bg: white;
$c-highlight: #ffc800;
$c-overlay: rgba(black,.95);
$c-video-overlay: rgba(black,.98);
$c-required: red;//#782506;
$c-site-background: #222;
// Tutorial: how to use color variables properly:
// http://sachagreif.com/sass-color-variables/
$anchor-color: $c-nav-text;
$anchor-hover: $c-highlight;
$headline-color: $base1;
$text-color: $base2;
$quiet-color: $base6;
$loud-color: $black;
$hr-color: $base6;

// SPACING
$caps-spacing: .125em;

// TYPE
$h1: 3rem;
$h2: 2.25rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;
$body: 16px;

// Depths
$background-overlay-z: 1;
$figures-z: 15;
$trailer-z: 36;
$foreground-z: 20;
$content-z: 5;
$footer-z: 25;
$header-z: 40;
$responsivenav-z: 36;
$logo-z: 35;
$tooltip-z: 50;

// Dimensions
$footer-height: 46px;

// Breakpoints
$liquid-breakpoint: min-width 1250px;
$desktop-breakpoint: 1250px;
$tablet-h-breakpoint: 1000px;
$tablet-v-breakpoint: 800px;
$phone-breakpoint: 650px;
